.score-chart-container
  background-color: #FBFBFB
  position: relative

.score-chart-title
  position: absolute

.score-chart-display
  position: absolute
  top: 16%
  left: 50%
  transform: translate(-50%)
  background-color: #FFFFFF
  border-radius: 50%
  width: 160px
  height: 160px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center 

.score-chart-value
  font-size: 2rem
  margin: 0
  
.score-chart-text
  font-size: 1rem
  margin: 0
  color: #A5A5A5    



