.card-container
  width: 258px
  height: 124px
  background-color: #FBFBFB
  display: flex
  flex-direction: row
  border-radius: 8px
  
.card-content
  display: flex
  flex-direction: column
  justify-content: center

.card-content h2
  margin: 0
  font-size: 20px
  font-weight: bold

.card-content p
  margin: 0
  color: #74798C
  font-size: 14px      

.card-image-container
  display: flex
  margin: auto 0
  width: 60px
  height: 60px
  margin-left: 40px
  margin-right: 40px 
      

.card-image
  width: 16px
  margin: 0 auto
 
  

  
